# --- Authentication --------------------------------------------------------
ENERGY_ID_COFY_API_TOKEN=foo

# --- Database --------------------------------------------------------------
DB_URL=postgresql+asyncpg://cofy:cofy@localhost:5432/epv

# dev only, not needed for production, but useful for local development with Docker
POSTGRES_DB=epv
POSTGRES_USER=cofy
POSTGRES_PASSWORD=cofy
